body {
  --app-primary-color: rebeccapurple;
  --app-secondary-color: darkgreen;
  --app-contrast-primary-color: white;
  font-family: 'Palatino Linotype', 'Palatino', serif;
}

* {
  box-sizing: border-box
}