@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* OWN STYLES START HERE */


p {
    margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1rem;
}

h1 {
    margin-top: 0;
    font-size: 2.488em;
}

h2 {
    font-size: 2.074em;
}

h3 {
    font-size: 1.728em;
}

h4 {
    font-size: 1.44em;
}

h5 {
    font-size: 1.2em;
}

small,
.text_small {
    font-size: 0.833em;
}

html {
    font-size: 16px;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #000;
    display: grid;
    grid-template: "h h h"min-content "b c d"auto / auto 180mm auto;
    row-gap: 3ex;
    --app-primary-color: #004205;
    --app-secondary-color: #5c366a;
    --app-secondary-darker: #2a1930;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', 'Palatino Linotype', 'Palatino', serif;
    font-weight: 400;
    line-height: 1.15;
}

header h1 {
    margin-top: 2ex;
    font-size: 2em;
    text-shadow: var(--app-secondary-darker) 0 0 10px;
}

header h2 {
    font-size: 1.8em;
    margin: 1ex 0 2ex 0
}

header small,
header .text_small {
    font-size: 0.889em;
}

header {
    background: var(--app-secondary-color);
    color: white;
    text-align: center;
    grid-area: h;
    position: relative;
    padding: 2ex 0;
}

header a {
    color: inherit;
    text-decoration: none;
    
}

.container > section {
    position: relative;
}

.container > section:not(:nth-of-type(1)) {
    margin-top: 5ex;
}

body::after{
    content: '';
    background: url(logo.svg) no-repeat center center;
    position: fixed;
    background-size: 80%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;

}


.container {
    position: relative;
    grid-area: c
}


.box {
    width: 40%;
    border: var(--app-primary-color) thin solid;
    background-color: white;
}

.box blockquote {
    font-weight: bold;
}

.box h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.box header {
    background: var(--app-primary-color);
}

.box section {
    padding: 1ex 1.5em;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-content: space-around
}

.container > section:not(:nth-of-type(1)) {
    page-break-before: always
}

table {
    width: 100%;
    border-bottom: var(--app-primary-color) thick solid;
    background: rgba(255,255,255,0.8)
}

th {
    background: var(--app-primary-color);
    padding: 1ex 2em;
    color: white;
    font-weight: bold
}

td {
    padding: 1em 1ex
}

td:not(:nth-of-type(1)) {
    text-align: center;
}

tfoot {
    border-top: var(--app-primary-color) double thick;
}

tr:not(:last-of-type) {
    border-bottom: var(--app-primary-color) solid thin;
}